DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,seudominio.com.br
DJANGO_CSRF_TRUSTED_ORIGINS=https://seudominio.com.br

POSTGRES_DB=otica
POSTGRES_USER=otica
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432
# Para teste local sem PostgreSQL, use:
# DATABASE_URL=sqlite:///db.sqlite3

DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True

GUNICORN_WORKERS=3
BACKUP_RETENTION_DAYS=14
