__pycache__/
*.pyc
*.sqlite3
backups/
.DS_Store
.bash_history
.bash_logout
.bashrc
.cache/
.codex/
.config/
.copilot/
.dotnet/
.gitconfig
.profile
.sudo_as_admin_successful
.vscode-server/
.wget-hsts
